/* Import Work sans font form google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* The is the root styles variables  */
:root {
    --FF : Work Sans;
    --TC : #727272;
    --MT: 70px;
}
/* Global style for the website  */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: var(--FF);
}
/* This is the container  width of the webpage  */
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Common used buttons  */
.btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    cursor: pointer;
}

/* Styles for header section  */

.header {
    background: rgba(255, 144, 14, 0.10);
    height: 1322px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.header nav .logo {
    color: var(--TC);
    text-align: center;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
}

.header nav ul a {
    color: var(--TC);
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    text-decoration: none;
}
.header .banner  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .banner .banner-text {
    padding: 70px 120px 0 120px;
    max-width: 850px;
    width: 100%;
}
.header .banner .banner-text h1 {
    color: var(--TC);
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0;
}
.header .banner .banner-text p {
    color: var(--TC);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    margin-bottom: 20px;
}
.header .banner .banner-text .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.banner .banner-img img {
    width: 100%;
}
/* Styles for main section  */
/* Styles for main teams area  */
.main .teams-section {
    margin-top: var(--MT);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main .teams-img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.main .teams-img img {
    width: 100%;
}
.main .teams-text h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}
.main .teams-text h1 .QL {
    color: var(--TC);
}
.main .teams-text h1 .FT {
    color: #FF900E;
}
.main .teams-text p {
    color:var(--TC);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
/* Styles for features section  */
.Features {
    margin-top: var(--MT);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Features .feature-left h1 {
    color: var(--TC);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}
.Features .feature-left p {
    color: var(--TC);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}
.Features .feature-left div {
    padding: 20px;
}
.Features .feature-right {
    position: relative;
}
.Features .feature-right > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 300px;
    text-align: center;
    position: absolute;
    bottom: -40px;
    left: -80px;
} 
.Features .feature-right > div h1 {
    font-size: 4rem;
}
/* Styles for fact section  */
.fact-section {
    margin-top: 150px;

}
.fact-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fact-content div {
    margin: 20px 30px;
    border: 2px dashed #727272;
    padding: 15px 30px;
    text-align: center;
}
.fact-section h1 {
    color: var(--TC);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 15px 0;
}
.fact-section p {
    color: var(--TC);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
}
/* Styles for Sponsors section  */
.Sponsors {
    margin-top: var(--MT);
}
.Sponsors .sponsors-text {
    text-align: center;
}
.Sponsors .sponsors-text h1  {
    color: var(--TC);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Sponsors .sponsors-text p {
    color: var(--TC);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
} 

.Sponsors .sponsors-icons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Styles for footer section  */
.footer {
    margin-top: 100px;
    background: #FFF4E7;
    height: 60px;
}
.footer h4 {
    color: var(--TC);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 40px 20px;
}
/* Resonsive Design For Mobiles  */

@media screen and (max-width : 576px) {
    /* Header section  */
    .header {
        padding: 20px;
        height: min-content;
    }
    .header nav {
        flex-direction: column;
    }
    .banner .banner-img img {
        width: 100%;
    }
    .header nav .logo {
        margin-bottom: 20px;
    }
    .header .banner .banner-text{
        padding: 0;
    } 
    /* Team section  */
    .main .teams-section {
        margin-top: 20px;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .main .teams-img {
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        
    }
    /* Features Section  */
    .Features {
        flex-direction: column;
    }
    .Features .feature-left div {
        padding: 10px;
    }
    .feature-right img {
        width: 100%;
    }
    .Features .feature-right > div {
        display: none;
    } 
    /* Fact section  */
    .fact-section {
        margin-top: 30px;
        padding: 20px;
    }
    .fact-content div {
        margin: 10px;
    }
    /* Sponsors section  */
    .Sponsors .sponsors-icons {
        flex-direction: column;
        row-gap: 20px;
    }
    .Sponsors .sponsors-text p {
        padding: 10px;
    }
}

/* Responsive For Tablate Of Small Devices  */

@media screen and (min-width: 576px) and (max-width: 960px) {
    /* Header Section  */
    .header {
        padding: 20px;
        height: min-content;
    }
    .header nav {
        flex-direction: column;
    }
    /* Team section  */
    .main .teams-section {
        margin-top: 20px;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .main .teams-img {
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    /* Features section  */
    .Features {
        flex-direction: column;
    }
    .Features .feature-right > div {
        display: none;
    } 
    /* Sopnsors section  */
    .Sponsors .sponsors-icons {
        padding: 20px;
    }
}